{% extends "base.html" %}
{% block title %}Announcements - Seaview Training{% endblock %}

{% block content %}


<h1>Announcements</h1>

    <div class="container" style="padding: 20px; word-wrap: break-word;">
        {% for subject,body,date,sender_first_name,sender_last_name in emails %}

            <div>Date: {{date}}</div>
            <div>From: {{sender_first_name}} {{sender_last_name}}</div>
            <div>Subject: {{subject}}</div>
            <br/>
            <div>Message: {{body}}</div>
            <br/>
            <br/>
        {% endfor %}
    </div>


{% endblock %}
