{% extends "base.html" %}
{% block title %}Home - Seaview Training{% endblock %}

{% block content %}
<style xmlns="http://www.w3.org/1999/html">
        .scroll-box {
            width: 150px;
            height: 200px;
            overflow-y: auto;
            border: 1px solid #ccc;
        }

        .scroll-box button {
            display: block;
            width: 100%;
            padding: 5px 10px;
            margin: 2px 0;
            text-align: left;
            background-color: #f0f0f0;
            border: none;
            border-radius: 5px;
        }

        .scroll-box button:hover {
            background-color: #e0e0e0;
        }
    </style>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <h2>Welcome to Seaview Restaurant Training!</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
<!--            <div class="progress">-->
<!--                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: 100%">-->
<!--                    {{progress}}%-->
<!--                </div>-->
<!--            </div>-->
            <progress class="progress-bar" value="{{progress}}" max="{{total_questions}}"> {{progress}} </progress>
            <br/>
<!--            <span class="progress-value">{{percent}}</span>-->
            <a href="{{ url_for('announcements') }}" class="btn btn-primary btn-lg btn-block">Announcements</a>
        </div>
    </div>
    <br/>
<!--Note from Parth to the Ryans: you're gonna need to put the route of your quiz taking function for href.
    Look at the HTML code that Pranjal did on base.html, where she created the header for "Home", "Contact", "Logout"
    if you need an example.-->
    <div style="width: 500px; text-align: left; padding: 30px">

    <table class="display" id="quiz_table" width="100%">
        <thead>
            <tr>
                <th>Quizzes</th>
            </tr>
        </thead>
        <tbody>
            {% for quiz in quizzes %}
                {% if quiz[5] == 1 and quiz[7] == 0 %}
                    <tr>
                        <td> <a href="{{ url_for('take_quiz') }}?id={{ quiz[0] }}" class="nav-link" style="word-wrap: break-word">{{quiz[1]}} - {{quiz[6]}}</a> </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>



    <!-- Add home page content here -->
{% endblock %}